:root {
--primary-color:hsl(206, 30%, 86%);
--secondary-color: #969ba7;
--heading-font-family:"Padyakke Expanded One", serif;
--default-font-family:"Quicksand", sans-serif;
}



h1{
  font-family: var(--heading-font-family );
  color: black;font-size: 70px;
}

 h2, h3, p {font-family:var(--default-font-family);
  font-size:16px ;

}

p { font-size:16px ;font-weight: normal;line-height: 1.5; }

.title-project{ font-size: 30px;font-weight: 400;}

.container-fluid{font-family: var(--default-font-family);}

.hero { background:var(--primary-color);text-align:center;padding:160px 20px;} 

.btn{ font-family: var(--default-font-family); border-color: black;color:black;}

.btn:hover{ background-color:var(--secondary-color); border:black;}


.h3-project{ font-size: 38px;}

.btn-branding-outline { font-family: var(--default-font-family); border-color: black;color:black;}  

 
.col{padding: 30px;}
.row{ margin: ;}