:root {
  --linear-gradient:linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
  --primary-color: rgb(91, 185, 171);
  --heading-font-family: "Padyakke Expanded One", serif;
  --default-font-family: "Quicksand", sans-serif;
}

body{ font-family: var(--default-font-family);}

h1 {padding-top: 55px;
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight:bolder;
  text-align: center;
}

h2{font-size: 25px;
  text-align: center;
  font-family: var(--default-font-family);} 


p {font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

 
img{ border-style: solid; border-color:var(--primary-color); border-width: 3px;border-radius: 3px;}


.navbar{ height: 70px; font-size: 24px;}

.navbar a{font-size: 24px;}

.navbar-nav a:hover{ text-decoration: underline;} 

.navbar-brand {color: white;background-color: var(--primary-color);padding: 10px;border-radius: 2px;border-style: solid;border-color: #969ba7;}


.hero {
  color: white;
  background: var(--linear-gradient);
  text-align: center;
  padding-top:80px;

}
.slogan{ font-style: italic;font-size:30px ;padding-top: 30px;}

.btn {
  font-family: var(--default-font-family);
  border-color: black;
  color: black;
}

.btn:hover {
  background-color: var(--primary-color);
  border: white;font-weight: bold; color: black;
}

.col {padding: 30px;}
  

.content-container{margin-top: 90px;justify-content: space-evenly;}

.content-container h2 {
  font-weight:200; text-align: center;
}

.content {
  margin-right: 10px;
  text-align: left;
}

.about-photo {border-radius: 4px; width: 400px; justify-content:evenly;
border-style: solid; border-color:hsl(184, 19%, 51%);border-width: 1px;
margin-top: 90px;}


.footer { height: 100px; margin-bottom: 10px; } 

.footer a  {color:black;font-size: 18px;
  } 

.footer a :hover{ color: black;}

.contacts{ padding-bottom:200px;}

.contact-list{ list-style: none;padding: 50px;}
.contact-list a { color:black;}

.final-paragraph{ padding: 10px;}

