:root {
  --primary-color: hsl(206, 30%, 86%);
  --secondary-color: #969ba7;
  --heading-font-family: "Padyakke Expanded One", serif;
  --default-font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 60px;
  font-weight:bolder;
  text-align: center;
}

h2,
h3,
p {
  font-family: var(--default-font-family);
  font-size: 18px;
}

p {
  font-weight: normal;
  line-height: 1.5;
}

.title-project {
  font-size: 30px;
  font-weight: 400;
}

.container-fluid {
  font-family: var(--default-font-family);
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.btn {
  font-family: var(--default-font-family);
  border-color: black;
  color: black;
}

.btn:hover {
  background-color: var(--secondary-color);
  border: black;
}

.h3-project {
  font-size: 38px;
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  border-color: black;
  color: black;
}

.col {
  padding: 30px;
}



  .hero {
    padding: 80px 10px;
  }


.content-container h1 {
  font-size: 40px;
}
h2 {
  font-weight: bold;
}

.content-container img {
  max-height: 400px;
  border-radius: 4px;
}

.content-container {
  padding: 10px;
  text-align: center;
}
.row {
  margin-left: 40px;
}

.content {
  margin-right: 10px;
  text-align: left;
}

.about-photo {
  margin: 10px;
}
.weather-photo{
height: 399px;

}


@media (max-width: 800px) {
  h1 {font-size: 40px;}}


 
